/* Styles for the root element */
#root {
  max-width: 1280px; /* Set maximum width */
  margin: 0 auto; /* Center the element horizontally */
  padding: 2rem; /* Add padding */
  text-align: center; /* Center align text */
}

/* Styles for the logo */
.logo {
  height: 6em; /* Set height */
  padding: 1.5em; /* Add padding */
  will-change: filter; /* Optimize for animation */
  transition: filter 300ms; /* Add transition effect for filter property */
}

/* Hover effect for the logo */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Apply drop shadow on hover */
}

/* Additional hover effect for React logo */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Apply different drop shadow on hover for React logo */
}

/* Animation for logo spinning */
@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* Initial rotation */
  }
  to {
    transform: rotate(360deg); /* Full rotation */
  }
}

/* Apply spinning animation to logo if motion is not reduced */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* Apply infinite spinning animation */
  }
}

/* Styles for card elements */
.card {
  padding: 2em; /* Add padding */
}

/* Styles for the "Read the Docs" text */
.read-the-docs {
  color: #888; /* Set text color */
}
